<div class="container">
  <div class="page-header">
    <h1>Ember Data Paperclip</h1>
    <p class="lead">
      This addon provides an ember file attribute to use with <a href="https://github.com/thoughtbot/paperclip" target="_blank">rails paperclip</a>.
    </p>
  </div>

  <h3>File URL</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <pre>&lt;img src=&#123;&#123;file-url model.photo 'thumbnail'&#125;&#125; /&gt;</pre>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{file-url model.photo 'thumbnail'}} />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <pre>&lt;img src=&#123;&#123;file-url model.photo&#125;&#125; /&gt;</pre>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{file-url model.photo}} />
    </div>
  </div>

  <h3>Data URL</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <pre>import Ember from 'ember';
import dataURL from 'ember-data-paperclip/utils/dataURL';

const { Component } = Ember;

export default Component.extend({
  dataURL: dataURL('model.photo')
});
</pre>
      <pre>&lt;img src=&#123;&#123;dataURL.content&#125;&#125; /&gt;</pre>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{dataURL.content}} />
    </div>
  </div>

  <h3>Object URL</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <pre>import Ember from 'ember';
import objectURL from 'ember-data-paperclip/utils/objectURL';

const { Component } = Ember;

export default Component.extend({
  objectURL: objectURL('model.photo')
});
</pre>
      <pre>&lt;img src=&#123;&#123;objectURL.content&#125;&#125; /&gt;</pre>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{objectURL.content}} />
    </div>
  </div>

  <h3>Persisting</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <pre>&#123;&#123;file-upload file=model.photo&#125;&#125;</pre>
      <pre>&lt;img src=&#123;&#123;model.photo.data&#125;&#125; /&gt;</pre>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-inline">
        <div class="form-group">
          {{file-upload file=model.photo class='btn btn-default form-control'}}
        </div>
        <div class="form-group">
          <button class="btn btn-default form-control" {{action 'save'}} disabled={{model.isSaving}}>
            Save
            {{#if model.isSaving}}
              <i class="fa fa-spin fa-spinner"></i>
            {{/if}}
          </button>
        </div>
      </div>
      <br />
      {{#if model.photo.data}}
        <img src={{model.photo.data}} class="img-responsive img-rounded" />
      {{else if isPersisted}}
        <small class="text-muted">Open the inspector and have a look at the network tab to see the image being persisted.</small>
      {{/if}}
      <br />
    </div>
  </div>
</div>
