<div class="container">
  <div class="page-header">
    <h1>Ember Data Paperclip</h1>
    <p class="lead">
      This addon provides an ember file attribute to use with <a href="https://github.com/thoughtbot/paperclip" target="_blank">rails paperclip</a>.
    </p>
  </div>

  <h3>File URL</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      {{#code-highlight language='htmlbars'}}&lt;img src=&#123;&#123;file-url model.photo 'thumbnail'&#125;&#125; /&gt;{{/code-highlight}}
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{file-url model.photo 'thumbnail'}} />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      {{#code-highlight language='htmlbars'}}&lt;img src=&#123;&#123;file-url model.photo&#125;&#125; /&gt;{{/code-highlight}}
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{file-url model.photo}} />
    </div>
  </div>

  <h3>Data URL</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
{{#code-highlight language='javascript'}}import Ember from 'ember';
import dataURL from 'ember-data-paperclip/utils/dataURL';

const { Component } = Ember;

export default Component.extend({
  dataURL: dataURL('model.photo')
});{{/code-highlight}}
      {{#code-highlight language='htmlbars'}}&lt;img src=&#123;&#123;dataURL.content&#125;&#125; /&gt;{{/code-highlight}}
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{dataURL.content}} />
    </div>
  </div>

  <h3>Object URL</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      {{#code-highlight language='javascript'}}import Ember from 'ember';
import objectURL from 'ember-data-paperclip/utils/objectURL';

const { Component } = Ember;

export default Component.extend({
  objectURL: objectURL('model.photo')
});{{/code-highlight}}
      {{#code-highlight language='htmlbars'}}&lt;img src=&#123;&#123;objectURL.content&#125;&#125; /&gt;{{/code-highlight}}
    </div>
    <div class="col-md-6 col-xs-12">
      <img src={{objectURL.content}} />
    </div>
  </div>

  <h3>Updating</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      {{#code-highlight language='javascript'}}import Ember from 'ember';

const { Component } = Ember;

export default Component.extend({
  actions: {
    clear() {
      this.get('model.photo').clear();
    },
    save() {
      this.get('model').save();
    }
  }
});{{/code-highlight}}
      {{#code-highlight language='htmlbars'}}&#123;&#123;file-upload file=model.photo&#125;&#125;
&lt;button &#123;&#123;action='clear'&#125;&#125;&gt;&lt;/button&gt;
&lt;button &#123;&#123;action='save'&#125;&#125;&gt;&lt;/button&gt;
&lt;img src=&#123;&#123;model.photo.data&#125;&#125; /&gt;{{/code-highlight}}
    </div>
    <div class="col-md-6 col-xs-12">
      {{upload-form model=model}}
      {{#if (and model.photo.isDirty (not model.photo.isEmpty))}}
        <br />
        <img src={{model.photo.data}} class="img-responsive img-rounded" />
        <br />
      {{/if}}
    </div>
  </div>
</div>
